################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin
/**/dist
/**/obj
/GatewayApp/Frontend/node_modules
/GatewayApp/Frontend/.svelte-kit
/GatewayApp/Backend/swagger.json
/GatewayApp/Backend/Plantmonitor.Server/appsettings.Development.json
/PlantMonitorControl/swagger.json
/TestVideo.mjpeg
GatewayApp/Backend/Plantmonitor.Server/wwwroot/*
Confluence/Dockerfiles/database.env
/PlantMonitorControl.Tests/TestData
**/*.rawir
**/*.rawtemp
**/*.jpg
**/*.png
**/*.raw
!**/Documents/*
